body {

}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

input {
	text-align: center;
}


#listings-nav li:nth-child(2){
	
}
.new-div {
	background-color:white;
	width:100%;
	text-align:center;
	height:400px;
	padding-top:50px;


}

.h1-new-form:hover {
	cursor: pointer;
	font-family: "Verdana";
}

#welcome-div {
	margin: 0 auto;
	text-align: center;
}

#welcome-pic {
	padding-top: 100px;
}

.mc-field-group label {
	font-family: 'Verdana';

	padding-right: 30px;
	padding-left:30px;

	/*width: 90%;*/


}

.mc-field-group input {
	height: 20px;
	width: 30%;
	margin-left:10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mc-field-group {
	text-align: center;

}

.clear {
	text-align: center;
	padding-top: 10px;

}

#mc-embedded-subscribe {
	background-color: black;
	color: white;
	height: 50px;
	width: 70%;

}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

