<!-- <a id="ejuice-add" href="/listings/new">Add an Ejuice</a> -->
<!-- <a href="/listings">Listings </a> -->


<h1 style="font-family:'Verdana';text-align:center;padding-top:300px;">WELCOME TO INCREDIBLE VAPE NEW YORK</h1>

<h2 style="font-family:'Verdana';text-align:center;">Our site is currently under construction so please sign up to our mailing list below to keep up to date on our opening date!</h2>

<h3 style="font-family:'Verdana';text-align:center;">Thank you!</h3>