<!-- <a id="ejuice-add" href="/listings/new">Add an Ejuice</a> -->
<!-- <a href="/listings">Listings </a> -->
<!-- 

<h1 style="font-family:'Verdana';text-align:center;padding-top:300px;">WELCOME TO INCREDIBLE VAPE NEW YORK</h1>

<h2 style="font-family:'Verdana';text-align:center;">Our site is currently under construction so please sign up to our mailing list below to keep up to date on our opening date!</h2>

<h3 style="font-family:'Verdana';text-align:center;">Thank you!</h3>

 -->
<!-- 
<div id="welcome-div">
<img src="assets/incredible_vape_welcome_picture-9d4f4908f8a3ae2271eae01f0eaae8ac659021284f09f824985659f248085899.png" id="welcome-pic">
</div> -->


<ul id="nav">
	<li><a href="/listings">SHOP</a></li>
	<li><p>ABOUT US</p></li>
	<li><p>CONTACT</p></li>
	<li><p>GALLERY</p></li>

</ul>


<img id="logo" src="assets/logo.png">
	<ul id="pictures-list">
		<li><img src="assets/ejuice2.jpg"></li>
		<li><img src="assets/cup2.jpg"></li>
		<li><img src="assets/device1.jpg"></li>
		<li><img src="assets/ejuice.jpg"></li>
	</ul>

<!-- <img src="assets/logo.png">
<img src="assets/logo.png"> -->

